@model List<SpotiftDapper.Dtos.ResultSpotifyDto>


@{
    Layout = "~/Views/Default/Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Özellik Listesi Tablosu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Özellik Listesi</h2>

        @* @Html.Partial("SearchSong.cshtml") *@



        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Sanatçı</th>
                    <th>Şarkı ismi</th>
                    <th>Yıl</th>
                    <th>Tür</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.column1</td>
                        <td>@item.artist_name</td>
                        <td>@item.track_name</td>
                        <td>@item.year</td>
                        <td>@item.genre</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>





